:root {
    --blue: #172b4c;
    --grey: #eaebef;
    --grey2: #f5f9fc;
    --white: #fbf7f5;
    --green: #bdffb7;
    --orange: #fcc688;
    --red: #f3d3d4;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 14px;
    word-wrap: break-word;
    position: relative;
}

.flex {
    display: flex;
    gap: 5px;
    align-items: center;
}

ul li {
    list-style: none;
    color: var(--grey);
    font-size: 1rem;
    padding-block: 0.5rem;

}

nav {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#142b52, #547dc0);
    width: 4rem;
    height: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s ease-in;



}

.nav-title {
    margin-left: 1rem;
    font-weight: 500;
}

nav:hover {
    width: 14rem;

}

nav .logo {
    margin-bottom: 3rem;
    color: var(--grey);
    font-size: 1rem;
    padding-block: 0.5rem;
}

.logo img {
    width: 40px;
}

nav img {
    background-color: var(--grey);
    border-radius: 50%;
    padding: 0.125rem;
    aspect-ratio: 1/1;
    width: 32px;
    color: #eaebef;


}

main {
    margin-left: 4rem;
    flex: 1;
    width: 95%;
    display: flex;
    flex-direction: column;
}

main header {
    background-color: var(--grey);
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.header-list {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 0.125rem;
}
.search{
 width: 10%;
}
.btn {
    padding: 0.4125rem;
    border-radius: 50px;
    outline: none;
    border: 0;

}

.btn-primary {
    background-color: #2fcd88;
    color: #fff;
}

.btn-secondary {
    background-color: var(--blue);
    color: #fff;
}

.btn-3 {
    font-size: 10px;
    width: 100px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: #172b4c 1px solid;
}

.btn-3:focus {
    background-color: #ac97fa;
}

.column-setting-btn{
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 5px;

}
.column-setting-btn:hover{
    background-color: #547dc0;

}


.vesible {
    display: none;
}



input[type="date"] {
    background: transparent;
    outline: none;
    border: 1px solid black;


    padding: 0.5rem 0.2rem;
    border-radius: 5px;
    align-items: start;
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 0.2rem;
    box-shadow: 0 0 10px var(--blue);
}

.user_img {
    width: 32px;
}
.dropbtn {

    color: white;
    padding: 0.5rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50px;

}

.dropbtn:hover {
    background-color: #547dc0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 8px;
    display: none;
    position: absolute;
    left: -160px;
    top: 35px;
    background-color: #172b4c;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #fff;
    border-radius: 10px;
}

.dropdown-content a {
    color: #fff;
    padding: 8px;
    text-decoration: none;
    display: block;
}

/* .dropdown a:hover {background-color: #ddd;} */

.show {
    display: block;
}

section {
    background-color: #fff;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

}

th {
    padding: 0.5rem;
    width: calc((max-content)+10px);
}

th div {
   

    border-right: 1px #172b4c solid;
    padding-right: 15px;
    font-weight: 400;
    width: 100%;
    min-width: max-content;
    resize: horizontal;
    overflow: hidden;
}

th {
    display: table-cell;
}

td {


    padding: 0 1rem;
    text-align: center;

}

.btn-status{
    padding: 0.1rem 0.35rem;
    background-color: #8ef170;
    border-radius: 50px;
    width: max-content;
    
}

::-webkit-scrollbar {
    width: 10px;


}

::-webkit-scrollbar-thumb {
    background-color: #172b4c;


    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    border: 1px solid black;
}

::-webkit-scrollbar-button:single-button {
    background-color: #172b4c;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}


.copyright {
    flex: 1;
    display: flex;

    align-items: end;
    justify-content: center;
    margin-bottom: 1rem;
}

.tr {
    background-color: #bdffb7;

}

.red {
    background-color: #f3d3d4;

}